/* Footer design */
/* Footer design */
#footer {
  background: $gray-darker;
  padding: 30px;
  color: #CCCCCC;
  transition: color 0.5s ease;
  p {
    margin-top: 17px;
  }
  a {
    color: #CCCCCC;
    font-size: 30px;
    letter-spacing: 20px;
    &:hover {
    color: $orange ;
    }
  }
}

